@import "tailwindcss";

*{
  box-sizing: border-box;
}

body.light{
  background: rgba(255, 255, 255, 0.096);
  color: rgb(27, 94, 49);
}
body.dark{
  background: black;
  color: rgb(188, 206, 198);

}

.nav-link-style {
  & li {
    @apply 
      font-semibold
      px-4 py-2 
      hover:text-emerald-400
       dark:text-white
      transition-all
      list-none 
      inline-block;
  }
}

.nav{
  position: relative;
  /* background: #e6e5e5; */
}
.about{
  @apply w-3/4;
}

 .active-bar::after{
  height: 2px;
  width: 80%;
  background: #000;
  content: '';
  display: block;
}


@media (max-width: 500px){
  [class*="col-"]{
    width: 100%;margin: 0 auto;
  }

}
.pointer{
  cursor: pointer;
}

@media(min-width:501px){.col-s-70{width: 70%}.col-s-1{ width: 8.33%;}.col-s-2{width:16.66%;}.col-s-3{width:25%;}.col-s-4{width:33.33%;}.col-s-5{width:41.66%;}.col-s-6{width:50%;}.col-s-7{width:58.33%;}.col-s-8{width:66.66%;}.col-s-9{width:75%;}.col-s-10{width:83.33%;}.col-s-11{width:91.66%;}.col-s-12{width:100%;}}
@media(min-width:701px){.col-70{width: 70%}.col-m-1{ width: 8.33%;}.col-m-2{width:16.66%;}.col-m-3{width:25%;}.col-m-4{width:33.33%;}.col-m-5{width:41.66%;}.col-m-6{width:50%;}.col-m-7{width:58.33%;}.col-m-8{width:66.66%;}.col-m-9{width:75%;}.col-m-10{width:83.33%;}.col-m-11{width:91.66%;}.col-m-12{width:100%;}}
@media(min-width:992px){.res-d-n{width: 23%;} z.col-1{width: 8.33%;}.col-2{width:16.66%;}.col-3{width:25%;}.col-4{width:33.33%;}.col-5{width:41.66%;}.col-6{width:50%;}.col-7{width:58.33%;}.col-8{width:66.66%;}.col-9{width:75%;}.col-10{width:83.33%;}.col-11{width:91.66%;}.col-12{width:100%;}}